{:components
 {:router {:start (video-storage.routes/app)}
  :http   {:start (ring.adapter.jetty/run-jetty
                    (clip/ref :router)
                    {:port  #long #or [#env PORT 4000]
                     :join? false})
           :stop  (.stop this)}}}
