{:components
 {:router     {:start (video.routes/app)}
  :http       {:start (ring.adapter.jetty/run-jetty
                        (clip/ref :router)
                        {:port  3000
                         :join? false})
               :stop  (.stop this)}}}
