{:paths   ["src"]
 :deps    {ring/ring       {:mvn/version "1.9.4"}
           metosin/reitit  {:mvn/version "0.5.15"}
           metosin/malli   {:mvn/version "0.7.5"}
           expound/expound {:mvn/version "0.8.9"}}
 :aliases {:main {:exec-fn   cart.core/run
                  :exec-args {:port  3000
                              :join? false}}}}
