{:paths   ["src" "resources"]

 :deps    {ring/ring        {:mvn/version "1.9.5"}
           juxt/clip        {:mvn/version "0.27.0"}
           metosin/reitit   {:mvn/version "0.5.15"}
           metosin/malli    {:mvn/version "0.8.1"}
           metosin/jsonista {:mvn/version "0.3.3"}
           ring/ring-mock   {:mvn/version "0.4.0"}}

 :aliases {:test {:extra-paths ["test"]
                  :extra-deps  {io.github.cognitect-labs/test-runner
                                {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                 :sha     "cc75980b43011773162b485f46f939dc5fba91e4"}
                                org.clojure/test.check {:mvn/version "1.1.1"}}

                  :main-opts   ["-m" "cognitect.test-runner"]
                  :exec-fn     cognitect.test-runner.api/test}}}

