{:components
 {:cartStore  {:start (cart.datastore/repository)}
  :eventStore {:start (cart.events/repository)}
  :router     {:start (cart.routes/app
                        (clip/ref :cartStore)
                        (clip/ref :eventStore))}
  :http       {:start (ring.adapter.jetty/run-jetty
                        (clip/ref :router)
                        {:port  #long #or [#env PORT 4000]
                         :join? false})
               :stop  (.stop this)}}}
